@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

.header-mobile-image {
    background-image: url("../src/assets/image-hero-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-desktop-image {
    background-image: url("../src/assets/image-hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.progress-bar {
    height: 100%;
    width: 60%;
    border-radius: 999px;
    background-color: hsl(176, 50%, 47%);
}

.overlay-header.active,
.overlay-modal.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.overlay-modal.active {
    z-index: 30;
}

/* CustomRadio.css */
.radio-custom {
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
}

.radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: hsl(176, 50%, 47%);
}

.radio-custom:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.modal-option:hover .radio-custom {
    border-color: hsl(176, 50%, 47%);
}

.modal-option:hover h3 {
    color: hsl(176, 50%, 47%);
}

.selectBookmark path {
    fill: white;
}

.selectBookmark circle {
    fill: hsl(176, 72%, 28%)
}

.close-modal-icon path:hover {
    opacity: 1;
}

.modal-selected {
    border: 2px solid hsl(176, 50%, 47%)
}

.out-of-stock {
    opacity: 0.2;
}